body {
  font-size: 150%;
	font-family: 'Open Sans', sans-serif;
}

h1 span {
	color: #CCCCCC;
}

.bio {
	background-color: #efefef;
}

.bio h1 {
	font-family: 'Roboto Slab', serif;
}

.bio .container {
	text-align: center;
	width: 40%;
}

#img-cent {
	padding-top: 20px;
}


.nav ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav a {
  color: #5a5a5a;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}


.jumbotron {
  background-image:url('../images/macbook-cover-w1280.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  line-height: 30px;
}

.jumbotron h2 {
  color: #fff;

}

.jumbotron p {
  color: #fff;
  font-weight: bold;
}
.jumbotron a {
	
	color: #fff;
	
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Roboto Slab', serif;
  
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background-color: #efefef;
  border-bottom:1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: #393c3d;
}

.neighborhood-guides p {
  margin-bottom: 13px;
}

.footer {
	height: 40px;
}

.footer p {
	color: #c4c4c4;
	padding-top: 10px;
	text-align: center;
}
